// General COLORS VARIABLES
$black: #252529;
$darkGrey: #333333;
$borderColor: #dddddd;
$lightBorderColor: #ebebeb;
$darkBorderColor: #7f7f7f;
$greyTextColor: #53525b;
$lightTextColor: #7f8c8d;
$lightGreyBg: #89888e;

// Fonts
$font: 'Cairo', sans-serif;

// Site Colors
$primaryColor: #0d74b7;
$green: #8bc442;
$red: #e74c3c;
